<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@3.4.5"></script>
  </head>
  <body>
    <div id="app">
      <div class="main flex">
        <div class="left">
          <div class="title">
            <h2>Фильмы</h2>
          </div>
          <ul class="films">
            <li v-for="(film, idx) of filmNames" :key="idx">{{film}}</li>
          </ul>
          <h3>Добавить фильм</h3>
          <div class="wrap-input">
            <label for="">Название фильма</label>
            <input v-model="filmName" type="text" />
          </div>
          <div class="wrap-button">
            <button v-on:click="addFilmName">Добавить</button>
          </div>
        </div>

        <div class="rigth">
          <h2>Отзывы</h2>
          <ul class="comments">
            <li v-for="(comment, idx) of comments" :key="idx">
              <div>
                <b>{{comment.username}}</b>
              </div>
              <div>
                <i>{{comment.comment}}</i>
              </div>
            </li>
          </ul>

          <h3>Ваш комментарий:</h3>
          <div class="wrap-input">
            <label for="">Ваше имя</label>
            <input v-model="username" type="text" />
          </div>
          <div class="wrap-input">
            <label for="">Ваш отзыв</label>
            <textarea v-model="comment" name="" id=""></textarea>
          </div>
          <div class="wrap-button">
            <button v-on:click="addComment">Добавить</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  const options = {
    data() {
      return {
        filmName: '',
        filmNames: [],
        username: '',
        comment: '',
        comments: [],
      }
    },
    methods: {
      addFilmName() {
        this.filmNames.push(this.filmName)
        this.filmName = ''
      },
      addComment() {
        this.comments.push({
          username: this.username,
          comment: this.comment,
        })

        this.username = ''
        this.comment = ''
      },
    },
  }

  const app = Vue.createApp(options)
  const vm = app.mount('#app')
</script>
